body {
  position: absolute;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.bg {
  /* MUNprideLogo 1 */
  position: relative;
  height: inherit;
  width: inherit;
  background: url("/assets/img/logo.png") no-repeat center center;
  background-size: contain;
}

.bg2 {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 0px;
  height: 10vw;
  border: 3px solid #ffffff;
  margin: 10px;
}

.logo {
  height: 10vw;
}

.text h1 {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

.crotonia-logo {    
    position: absolute;
    width: 5vw;
    z-index: 999;
    flex: 50%;
    padding: 10px;
}